test/_data/demo/TC_06/schema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
               targetNamespace="http://example.com/schema1" 
               xmlns="http://example.com/schema1"
               elementFormDefault="qualified">
        <xs:element name="Employee">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="ID" type="xs:int"/>
                    <xs:element name="Name" type="xs:string"/>
                    <xs:element name="Age" type="xs:int"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:schema>