test/_data/integration/TC_29/schema3.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
               targetNamespace="http://example.com/schema3" 
               xmlns="http://example.com/schema3"
               elementFormDefault="qualified">
        <xs:element name="Order">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="OrderID" type="xs:int"/>
                    <xs:element name="CustomerName" type="xs:string"/>
                    <xs:element name="TotalAmount" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:schema>